.lay-log {
    -fx-background-color: #F2F2F2;
}

.lay-log .grid-pane {
    -fx-alignment: center;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-padding: 30px;
}

.lay-log .grid-pane .label {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.lay-log .grid-pane .combo-box,
.lay-log .grid-pane .text-field,
.lay-log .grid-pane .password-field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #D1D1D1;
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
    -fx-font-size: 14px;
    -fx-padding: 5px;
}

.lay-log .grid-pane .combo-box {
    -fx-pref-width: 200px;
}

.lay-log .grid-pane .text-field,
.lay-log .grid-pane .password-field {
    -fx-pref-width: 250px;
}

.lay-log .grid-pane .button {
    -fx-background-color: #007FFF;
    -fx-background-radius: 3px;
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 5px 10px;
}

.lay-log .grid-pane .button:hover {
    -fx-background-color: #0066CC;
}


.lay-edit {
    -fx-font-size: 14px;
    -fx-background-color: #f9f9f9;
    -fx-background-radius: 5px;
    -fx-padding: 20px;
    -fx-border-color: #ddd;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}

.lay-sent {
    -fx-font-size: 14px;
    -fx-background-color: #f9f9f9;
    -fx-background-radius: 5px;
    -fx-padding: 20px;
    -fx-border-color: #ddd;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}

.t-suc {
    -fx-font-size: 24px;
    -fx-alignment: CENTER;
    -fx-fill: #3c763d;
}

.t-sent {
    -fx-font-size: 12px;
    -fx-fill: #676767;
    -fx-alignment: CENTER;
}

.form-control {
    -fx-font-size: 14px;
    -fx-background-color: #fff;
    -fx-background-radius: 3px;
    -fx-border-color: #ccc;
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
    -fx-padding: 7px;
}

.btn {
    -fx-font-size: 14px;
    -fx-background-color: #337ab7;
    -fx-background-radius: 3px;
    -fx-border-color: #2e6da4;
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
    -fx-text-fill: #fff;
    -fx-padding: 7px 14px;
}

.btn:hover {
    -fx-background-color: #286090;
    -fx-border-color: #204d74;
    -fx-text-fill: #fff;
}

.btn:disabled {
    -fx-background-color: #ccc;
    -fx-border-color: #b3b3b3;
    -fx-text-fill: #666;
}